<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title> Nosso singelo formulário </title>
        <meta charset="utf-8">
    </head>
    <body>

        <form action="http://0.0.0.0:3000/git?" method="post">
            <p>
                Name:  <input type="text" name="user" value="Char" />
            </p>
            <p>
                Email: <input type="text" name="pass"  value="123" />
            </p>
            <p>
                <input type="submit" value="Submit me!"/>
            </p>
        </form>

    </body>
</html>